@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: courier,arial,helvetica;
    color: white;
}
body {
    background-color: #24272E;
}
/*header*/
header {
    background-color: rgb(219, 179, 179);
    padding: 50px;
    font-size: larger;
}
#header h1  {
    text-align: center;
    color: rgb(5, 5, 5);
}

/*score board*/
.score-board {
    width: 200px;
    border: white 3px solid;
    margin: 20px auto;
    position: relative;
    color: white;
    font-size: 46px;
    text-align: center;
    padding: 15px 20px;
}
.score-board>span {
    margin: 0 10px;
}
.label {
    background: red;
    font-size: 14px;
    padding: 10px;
}
#user-label {
    position: absolute;
    top: 25px;
    left: -25px;
}
#computer-label {
    position: absolute;
    top: 25px;
    right: -25px;
}

/*result*/
.result{
    font-size: 40px;
}
.result > p {
    text-align: center;
}

/*choices*/
.choices {
    margin: 50px 0;
    text-align: center;
}
.choice {
    display: inline-block;
    border: 4px solid white;
    padding: 20px;
    border-radius: 50%;
    margin: 0 20px;
}
.choice:hover {
    cursor: pointer;
    background-color:  #0d0d0e;
}

#action-message {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

/*reset button*/
.reset {
    display: flex;
    align-items: center;
    object-fit: contain;
}
.reset> button {
    margin: 10px auto;
    color: black;
    padding: 10px;
}
.reset>button:hover {
    cursor: pointer;
    border: 2px solid black;
}

/*border glow after click*/
.green-glow {
    border: 4px solid green;
    box-shadow: 2px rgb(128, 255, 0);
}

.red-glow {
    border: 4px solid red;
    box-shadow: 2px orangered;
}

.no-glow {
    border: 4px solid grey;
    box-shadow: 2px rgb(196, 193, 193);
}